/* Estilos básicos de la barra de navegación */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    background-color: #f6f64c;
    padding: 0 20px;

}

.navbar .logo img {
    height: 50px;
    /* Ajusta el tamaño del logo */
    max-height: 100%;
    /* Evita que se desborde */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    display: block;
    padding: 14px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar ul li a:hover {
    background-color: #c6c5c540;
}

.navbar ul li .dropdown-menu {
    display: none;
    /* Ocultar los submenús por defecto */
    position: absolute;
    top: 100%;
    /* Asegura que el submenú se despliegue debajo del elemento */
    left: 0;
    background-color: #FFFF77;
    min-width: 180px;
    padding: 0;
    text-align: left;
    z-index: 1;
}

.navbar ul li:hover .dropdown-menu {
    display: block;
    /* Mostrar el submenú */
}

.navbar ul li .dropdown-menu li {
    display: block;
}

.navbar ul li .dropdown-menu li a {
    padding: 10px 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar ul li .dropdown-menu li a:hover {
    background-color: #f9ed81cb;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: #fff;
    font-size: 0.9em;
}